<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <div class="social-icons">
        <a href="https://twitter.com/{{ site.author.twitter }}">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://medium.com/{{ site.author.medium }}">
          <i class="fa fa-medium"></i>
        </a>
        <a href="https://github.com/{{ site.author.github }}">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://linkedin.com/in/{{ site.author.linkedin }}">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>

    <nav class="sidebar-nav sidebar-sticky">
        <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">~/</a>
        <a class="sidebar-nav-item" href="http://kyrobot.github.io/cv">whoami</a>

        {% comment %}
          The code below dynamically generates a sidebar nav of pages with
          `layout: page` in the front-matter. See readme for usage.
        {% endcomment %}

        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" and node.sidebar == true %}
              <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}

        
        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </nav>
</div>
  </div>
</div>
